*{

}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body{
  
  width: 80%;
  margin: auto;
}

header{
  background-color: #9a88ab;
  height: 100px;

}

main, .photo {
  margin-top: 30px;
  height: 400px;
  background-color: #d4c972;
}

.box{
  margin-top: 30px;
  width: 100%;
  height: 400px;
  background-color: #75d0de;
}


  
