*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  width: 80%;
  height: auto;
  margin: auto;
}



nav{
  width: 100%;
  height: 100px;
  
  margin-top: 20px;
  background-color:  blueviolet;
  

}

header{
  width: 100%;
  padding-bottom: 50px;
}

.box{
  width: 100%;
  height: 300px;
  background-color: aquamarine;
  margin-top: 20px;
}

main{
  width: 100%;
}

main aside, .contect  {
  float: left;
 
}

aside{
  width: 16%;
  height: 500px;
  background-color: bisque;
  margin-top: 30px;
}

.contect{
  width: 50%;
  height: 500px;
  background-color: aqua;
 
}



footer{
  width: 100%;
  height: 60px;
  background-color: blue;
  margin-top: 20px;
}
}