*{

}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body{
  background-color: aquamarine;
  width: 80%;
  margin: auto;
}

header{
  background-color: #9a88ab;
  height: 150px;

}